<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.eunbi.samokgram.user.repository.UserRepository">
    <select id="selectContent" parameterType="map" resultType="com.eunbi.samokgram.home.domain.Contents">
        SELECT
            `id`
        , `user_id`
        , `text_contents`
        , `image_contents`
        , `created_at`
        , `updated_at`
        FROM
            `contents`
    </select>

<!--    <delete id="deleteContents" parameterType="int">-->
<!--        DELETE FROM-->
<!--            `contents`-->
<!--        WHERE-->
<!--            `id` = #{id}-->
<!--    </delete>-->

    <select id="countLikes" parameterType="int" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `likes`
        WHERE
            `liked_contents_id` == #{id}
    </select>

</mapper>