<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.eunbi.samokgram.user.repository.UserRepository">
    <insert id="insertUser" parameterType="map">
        INSERT INTO
        `user`
        (
         `first_name`,
         `last_name`,
         `email`,
         `login_id`,
         `password`
        )
        VALUE
        (
            #{firstName},
            #{lastName},
            #{email},
            #{loginId},
            #{password}
        )
    </insert>


    <select id="countByLoginId" parameterType="string" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `user`
        WHERE
            `login_id` = #{loginId}
    </select>

    <select id="selectUser" parameterType="map" resultType="com.eunbi.samokgram.user.domain.User">
        SELECT
            `id`,
            `login_id`,
            `password`,
            `first_name`,
            `last_name`,
            `email`,
            `created_at`,
            `updated_at`
        FROM
            `user`
        WHERE
            `login_id` = #{loginId}
        AND `password` = #{password}
    </select>

    <select id="selectUserById" parameterType="long"
            resultType="com.eunbi.samokgram.user.domain.User">
        SELECT
            ``
    </select>

</mapper>