<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">



        <section layout:fragment="contents" class="contents d-flex justify-content-center">
            <div class="user-box my-3 p-5 rounded-lg">
                <div class="d-flex justify-content-center mb-5">
                     <img width="80" height="80" src="https://cdn-icons-png.flaticon.com/512/125/125503.png">
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <label>First name</label>
                        <input type="text" class="form-control form-control-sm" id="firstNameInput">
                    </div>
                    <div>
                        <label>Last name</label>
                        <input type="text" class="form-control form-control-sm" id="lastNameInput">
                    </div>
                </div>

                <div class="mt-3">
                    <label>E-mail</label><input type="text" class="form-control form-control-sm" id="emailInput">
                </div>

                <div class="mt-3">
                    <label>ID</label>
                    <div class="d-flex">
                        <input type="text" class="form-control form-control-sm col-9 mr-3" id="idInput">
                        <button type="button" class="btn btn-sm btn-dark text-white" style="min-width: 70px;" id="duplicateBtn">중복확인</button>
                    </div>
                </div>

                <div class="mt-3">
                    <label>PW</label><input type="text" class="form-control form-control-sm" id="passwordInput">
                </div>

                <div class="mt-3">
                    <label>PW Check</label><input type="text" class="form-control form-control-sm" id="passwordConfirmInput">
                </div>

                <button type="button" class="btn btn-block btn-dark text-white mt-4" id="joinBtn">Join</button>
            </div>
        </section>



        <script layout:fragment="script">

            $("#joinBtn").on("click", function () {
                let id = $("#idInput").val();
                let password = $("#passwordInput").val();
                let passwordConfirm = $("#passwordConfirmInput").val();
                let firstName = $("#firstNameInput").val();
                let lastName = $("#lastNameInput").val();
                let email = $("#emailInput").val();

                if (id == "") {
                    alert("아이디를 입력하세요");
                    return ;
                }

                if (password == "") {
                    alert("비밀번호를 입력하세요");
                    return ;
                }

                if (password != passwordConfirm) {
                    alert("비밀번호가 일치하지 않습니다");
                    return ;
                }

                if (firstName == "") {
                    alert("이름을 입력하세요");
                    return ;
                }

                if (lastName == "") {
                    alert("성을 입력하세요");
                    return ;
                }

                if (email == "") {
                    alert("이메일을 입력하세요");
                    return ;
                }

                $.ajax({
                    type:"post"
                    , url: "/user/join-process"
                    , data:{"loginId":id, "password":password, "firstName":firstName, "lastName":lastName, "email":email}
                    , success:function (response) {
                        if (response.result == "success") {
                            location.href = "/user/login";
                        } else {
                            alert("회원가입 실패!")
                        }
                    }
                    , error:function () {
                        alert("회원가입 에러!")
                    }
                })
            })




            $("#duplicateBtn").on("click", function (){
                let id = $("#idInput").val();

                if (id == "") {
                    alert("아이디를 입력하세요");
                    return ;
                }

                $.ajax({
                    type:"get"
                    , url: "/user/duplicate-id"
                    , data: {"loginId":id}
                    , success:function (response) {
                        if (response.isDuplicate) {
                            $("#duplicateText").removeClass("d-none");
                        } else {
                            alert("증복 안됨!")
                        }
                    }
                    , error: function () {
                        alert("중복 확인 에러!")
                    }
                })
            })
        </script>