<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="wrap" class="bg-success">
        <header>
            <div class="display-4 ml-2 font-weight-bold">Samokgram</div>
        </header>
        <section class="contents d-flex">
            <label>First name</label><input type="text" class="form-control form-control-sm">
            <label>Last name</label><input type="text" class="form-control form-control-sm">
        </section>
        <footer>

        </footer>
    </div>

</body>
</html>