#wrap {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

header {
    height: 85px;
    background-color: #dddddd;
}

.feed {
    width: 400px;
}

.contents {
    height: 700px;
    overflow: scroll;
}

.contents > .user-box {
    width: 500px;
}

.image-bord {
    display: table-cell;
    vertical-align: middle;
}

.image-contents {
    max-width: 400px;
}

.reaction-bord {
    height: 50px;
}

.sm-image-form {
    width: 30px;
    height: 30px;
}

.btn-style {
    border: none;
}

.write-comment-form {
    height: 40px;
}

.add-contents {
    position: sticky;
}


footer {
    height: 85px;
    background-color: #dddddd;
}