#wrap {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

header {
    height: 85px;
    background-color: #dddddd;
}

.contents {
    height: 700px;
}

.contents > .user-box {
    width: 500px;
}


footer {
    height: 85px;
    background-color: #dddddd;
}