<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<section layout:fragment="contents" class="contents d-flex justify-content-center">
    <div class="feed">

        <div class="input-box border rounded">
            <textarea rows="4" class="form-control border-0" id="contentsInput"></textarea>
            <div class="d-flex justify-content-between p-2">
                <input type="file" id="fileInput" class="d-none">
                <button class="btn btn-style" id="imageBtn"><img class="sm-image-form" src="https://png.pngtree.com/png-vector/20190120/ourmid/pngtree-gallery-vector-icon-png-image_470660.jpg" alt=""></button>
                <button type="button" class="btn btn-info btn-sm" id="uploadBtn">입력</button>
            </div>
        </div>

        <div  th:each="contents:${contentsList}">
            <div class="border">
                <h4 class="ml-2 mt-2 mb-2" th:text="${contents.loginId}">samok</h4>
            </div>

            <div class="image-bord">
                <img class="image-contents" th:src="${contents.imagePath}">
            </div>

            <div class="d-flex justify-content-between border reaction-bord align-items-center">
                <div class="ml-2">
                    <i th:if="${contents.isLike}" class="bi bi-heart-fill text-danger unlike-btn"></i>
                    <i th:unless="${contents.isLike}" class="bi bi-heart text-danger like-btn" th:data-contents-id="${contents.id}"></i>
                    <span>좋아요 <span th:text="${contents.likeCount}">n</span>개</span>


                    <button class="btn btn-style comment-btn"><img class="sm-image-form" src="https://img.icons8.com/ios7/1200/comments--v2.jpg" alt=""></button>
                </div>
                <button id="deleteBtn" class="btn btn-style"><img class="sm-image-form" src="https://png.pngtree.com/png-vector/20190531/ourmid/pngtree-trash-bin-icon-png-image_1252303.jpg" alt=""></button>
            </div>

            <div class="border">
                <span class="font-weight-bold ml-3" th:text="${contents.loginId}"></span>
                <span class="ml-1" th:="${contents.contents}"></span>

                <p class="mt-4 ml-2">댓글</p>
                <hr>

                <div th:each="comment:${contents.comments}">
                    <b class="ml-2 font-weight-bold" th:text="${comment.}">감자</b>
                    <span class="ml-2"  th:text="${comment.comment}"> 댓글내용어찌구</span>
                </div>

            <div class="write-comment-form d-flex">
                <input th:id="|commentInput${contents.id}|" type="text" class="form-control" placeholder="댓글 내용을 입력하세요...">
                <button class="btn btn-style comment-btn" th:data-contents-id="${contents.id}"><img width="30" src="https://cdn-icons-png.flaticon.com/512/6731/6731644.png"></button>
            </div>
        </div>
    </div>



</section>


<script layout:fragment="script">

    $(".comment-btn").on("click", function () {
        let contentsId = $(this).data("contentsId");

        // let comment = $(this).parent().prev().val();

        let comment = $("#commentInput" + contentsId).val();

        $.ajax({
            type: "post"
            , url: "/home/comment/write"
            , data: {"contentsId":contentsId,"comment":comment}
            , success:function (response) {
                if (response.result == "success") {
                    location.reload();
                } else {
                    alert("댓글 작성 실패!")
                }
            }
            , error:function (){
                alert("댓글 작성 에러!")
            }
        })


    })


    $(".like-btn").on("click", function () {
        let contentsId = $(this).data("contents-id");

        $.ajax({
            type: "post"
            , url:"/home/like"
            , data: {"contentsId":contentsId}
            , success:function (response) {
                if(response.result == "success") {
                    location.reload();
                } else {
                    alert("좋아요 실패!");
                }

            }
            , error:function() {
                alert("좋아요 에러");
            }
        })

    })


    $("#imageBtn").on("click", function() {
        $("#fileInput").click();
    });

    $("#uploadBtn").on("click", function() {
        let contents = $("#contentsInput").val();

        let file = $("#fileInput")[0].files[0];

        if(contents == "") {
            alert("내용을 입력하세요");
            return;
        }

        if(file == null) {
            alert("이미지를 선택하세요");
            return ;
        }

        let formData = new FormData();
        formData.append("contents", contents);
        formData.append("imageFile", file);

        $.ajax({
            type:"post"
            , "url":"/home/upload-process"
            , data:formData
            , processData:false
            , contentType:false
            , success:function(response) {
                if(response.result == "success") {
                    location.reload();
                } else {
                    alert("글 작성 실패!");
                }

            }
            , error:function() {
                alert("글 작성 에러");
            }
        });


    });


</script>

</html>

